div{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes move{
    0%{
        left: 0px;
        top: 0px;
    }
    50%{
        left: 0px;
        bottom: 0px;
    }
    75%{
        right: 0px;
        top: 0px;
    }
    95%{
        right:0px;
        bottom: 0px;
    }
}