div{
    height: 100px;
    width: 100px;
    border: 10px solid rgb(134, 225, 118);
    border-right: 10px solid rgb(18, 27, 17);
    margin: 100px 0px 0px 100px;
    border-radius: 100px;
    animation: spinloader 4s infinite;
}

@keyframes spinloader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}